.red{
  background-color: red;
}
.blue{
    background-color: blue;
}
.black{
    background-color: black;
}
.ping{
    background-color: pink;
}
.f{
    background-color: brown;
}
ul{
    border: 10px solid green; 
}
li{
    border: 2px solid yellow;
}