селектор{
    властивість: значення;

}
/* 
h1{
    color: blueviolet;
}
a{
 color: black;
}
ul{
    list-style: none;
}
.efect{
    background-color: black;
}
#title{
    
}
.li{
    border: 1px solid green;
}
{
    background-color: yellowgreen;
}
ul  p  {
    color: brown;
}
h3 + p{
    color: brown;
}
h3 ~ P{
    color: tomato;
}
.[href]{
    color: blue; */
}
.ui{
    background-color: chartreuse;
}